/*Global Variables*/
@font-face {
    font-family: "brunoAce";
    src: url(/styles/fonts/BrunoAce-Regular.ttf);
    font-display: swap;
}

html {
    font-family: var(--mainFont);
    background-color: var(--htmlBackground);
}

body {
    margin: 0;
    padding: 0;
    color: var(--textColor);
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--textColor);
}

:root {
    --mainFont: "brunoAce", Verdana, Tahoma, sans-serif;
    --contentFont: arial, verdana, tahoma, sans-serif;
    --textColor: white;
    --navContainerColor: rgba(31, 31, 31, 1);
    --htmlBackground: rgba(104, 104, 104, 1);
    --containerHeaderBackground: rgba(84, 84, 84, 1);
    --containerBackground: rgba(31, 31, 31, 1);
}

/*Navigation Bar*/
.navigation {
    background-color: var(--navContainerColor);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 20px;
}

.navLogo {
    margin-left: 20px;
    font-size: 1.7rem;
}

.navList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-right: 20px;
    gap: 20px;
    font-size: 1.2rem;
}

.navList a {
  box-shadow: inset 0 0 0 0 var(--navContainerColor);
  color: var(--textColor);
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.navList a:hover {
  color: var(--navContainerColor);
  box-shadow: inset 200px 0 0 0 var(--textColor);
}

/*Home Page*/
.headerImage {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url(/images/landingPageBanner.webp);
  background-position: center;
  height: 350px;
}

.homeHeader {
  margin: 0;
  margin-bottom: 90px;
  text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}